.header{
  display: flex;
  justify-content: space-around;
}
.App{
  margin: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.unorderlist{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}
.listitem{
  text-decoration: line-through;
  border: 1px solid black;
  width: 100%;
}